.App {
  text-align: center;
  background-color: #275D97;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: #4F80B5;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  width: 950px;
  margin: auto;
  text-emphasis: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 75vh;
  gap: 25px;
  justify-items: center;
  padding: 7px;
}

.card {
  width: 450px;
  height: 75vh;
  border: 2px solid red;
  background-color: #BFD8F3;
}

.pics {
  width: 62%;
  height: 70%;
  float: left;
}

.wrapper {
  height: 100%;
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.songTitle {
  text-align: center;
  font-size: 2.2em;
}

.artist {
  text-align: center;
  font-size: 1.8em;
  font-style: italic;
  color: #727D8A;
}

.fa-play {
  font-size: 4.0em;
  color: #28B463;
  margin-top: 25%;
}

.fa-play:hover {
  font-size: 5em;
  cursor: pointer;
}